---
# Resume scss file
---
@charset "utf-8";

@import
  'normalize',
  'solo',
  'syntax';

a {
  color: #0000ff;
  text-decoration: none;
  font-size: 16px;
}

h2,h3,h4,h5,h6 {break-after: avoid-page;}
img, svg, table, canvas {break-inside: avoid;}

h1,h2,h3 {
  font-size: 25px;
}
body {
  font-size: 16px;
}
